<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sınavOtomasyon.Properties.Settings.sınavgirisConnectionString"
            connectionString="Data Source=LAPTOP-0T2BHER9;Initial Catalog=sınavgiris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>